.manage.page
	flex 1
	display flex
	flex-direction column
	.list
		flex 1

	i.fa.back-button
		color white

	i.fa
		color: $dark

	.icon.delete i
		color: red

	i.fa-play
		transform scale(0.8)
		position relative
		left 3px
	i.fa-stop
		transform scale(0.8)
		// position relative
		// left 3px
