.image-query
	padding: 10px;
	font-size: 20px;
	font-family: Arial;
	margin: 5px;

i.refresh-search
	width 50px

.search-results
	.item
		width 100%

.page-text-area
	font-size 30px
	padding 10px
	padding-top 30px
	position relative
	min-height 150px

	.text
		padding: 10px;
		border 1px solid white
		text-align center

	.word-outer
		position relative
		left 4px
		display: inline-block

	textarea
		text-align center
		font-family Arial
		font-size 30px
		padding 10px
		margin-bottom 2px

.image-area
	position relative
	border-top 1px solid gray
	.image-placeholder
		border 1px solid gray
		margin: 20%
		width: 60%

	.page-image, .word-image
		width: 95%;
		margin: 2.5%;
		max-height 100%

.float
	position absolute
	&.top
		top 10px
	&.right
		right 10px
	&.row.right
		right 25px
	i.fa
		@extends .center
		color black
		background-color white
		border 1px solid black
		width 40px
		height 40px
		border-radius 4px
		margin 2px
		&.active
			background-color $medium
	// padding 30px 10px

// .story.page
// 	.page-text
// 		font-size: 30px
//
// 	.active, .recorded
// 		background-color green
//
// 	.sentence
// 		display: flex;
// 		flex-wrap: wrap;
// 		justify-content: center;
// 		padding: 20px;
//
// 	.word
// 		color white
// 		font-size 30px
//
// 	.word-image
// 		width 100%
//
// 	.sentence-image
// 		width 100%
// 		min-height 50px
// 		border 1px solid white
//
// 	.sentence-image-placeholder
// 		max-width 100%
// 		max-height 100%
//
// 	.sentence-image-area
// 		padding 10px
// 		position relative
// 		.fa-search, .fa-camera
// 			position: absolute;
// 			top: 25px;
// 			background-color: white;
// 			padding: 15px;
// 			border-radius: 4px;
// 			border: 1px solid black;
//
// 		.fa-search
// 			right 25px
// 		.fa-camera
// 			right 85px
//
// 	.word.capitalized
// 		text-transform: uppercase
// 		font-size 25px
//
.playing
	text-decoration underline
// 	.buttons
// 		display flex
// 		.previous, .next
// 			flex 1
// 			margin 0 1px
//
// 	.image-word-panel
// 		text-transform none
// 		background-color $medium
// 		border-top 1px solid $verydark
// 		color white
// 		i.fa
// 			padding 15px
//
// 		.image-word
// 			// border-left: 1px solid $dark
// 			// border-right: 1px solid $dark
// 			// padding 15px
// 			background-color: $medium;
// 			color: white;
// 			font-weight: bold;
// 			margin: 5px;
// 			padding: 10px;
// 			border: 1px solid white;
//
// 		.image-results
// 			overflow-y scroll
//
// 		.image-result-frame
// 			position: relative
// 			i.selected
// 				position: absolute
// 				z-index 1000
// 				top 2
// 				right 2
// 				color green
// 				background-color black
//
// 			.image-result
// 				width 100%
// 				border-bottom 1px solid black
// 				border-top 1px solid white
