.story.page
	
	.active, .recorded
		background-color green

	.sentence
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 20px;

	.word
		color white
		font-size 30px

	.word.capitalized
		text-transform: uppercase
		font-size 25px

	.playing
		text-decoration underline
	.buttons
		display flex
		.previous, .next
			flex 1
			margin 0 1px
