<?xml version='1.0' encoding='utf-8'?>
<widget id="com.integral.bookreader" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
		<name>Story Reader</name>
		<description>
				Assisted story reading for kids
		</description>
		<author email="sensei@integral.com" href="http://integral-systems.com">
				JsonHunt
		</author>
		<content src="index.html" />
		<icon src="www/img/book_icon.jpg"/>
		<access origin="*" />
</widget>
