.read.column
	.page-text-area.center
		span(
			ng-repeat="word in page.words" 
			tap='read(word)'
		)
			span.word(
				ng-class="{'all-caps':allCaps, playing: isWordPlaying(word)}"
				style="color: {{getWordColor(word)}}"
			) {{word}}
			span &nbsp;
	
	.image-area.fill
		img.page-image(ng-src="{{pageImageURL}}")
		img.word-image(ng-src="{{wordImageURL}}")
	
