.page
	// background-image url("img/sky.jpg")
	// background-size cover
	// background-color black

.home.page
	position relative
	.story-title
		padding 10px
		border-bottom 1px solid #999
	.new-story
		position absolute
		bottom 20px
		right 20px
		background-color $light
		&.touched
			background-color $medium


	.cap-toggle
		width 100px

	.note
		margin-top 50px
