.home.page
	.bar(tap="showOptions = !showOptions")
		.title {{appTitle}}		
	.bar(ng-if="showOptions == true")
		.title.center(tap='newStory()')
			i.fa.fa-plus
			span Add New Story
			
	.list
		.item(ng-repeat="s in stories track by $index") 
			img.thumb(ng-show="s.imageURL" ng-src="{{s.imageURL}}")
			.title(ng-click='select(s)') {{s.title}}
			i.fa.fa-trash(ng-if="showOptions" ng-click="remove(s)")
			
//- 	.list
//- 		.item(
//- 			ng-repeat="s in stories"
//- 			ng-click="selectStory(s)"
//- 		)
//- 		i.icon.fa.fa-trash(tap="delete(s)")
//- 			.title {{getTitle(s)}}
	//- .header.header2(ng-show="showOptions")
	//- 	.right.cap-toggle.center.icon(tap="toggleCaps()") {{capOn ? 'Abc' : 'ABC'}}
	//- 	i.right.icon.new-story.fa.fa-plus(tap="newStory()")
	//- .body
		.note(ng-show="stories.length == 0") SORRY, NO STORIES
		

		
