html {
  height: 100%;
  background-color: #fff;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 20px;
  overflow-y: auto;
}
input[type='text'],
textarea {
  padding: 10px 15px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #42adff;
  font-size: 18px;
}
.floating-icon,
.action-button {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  background-color: #023e70;
  color: #fff;
  border: 1px solid #80c6fc;
}
.note {
  padding: 20px;
  text-align: center;
  color: #0991f9;
  text-transform: uppercase;
}
.list {
  overflow-y: auto;
}
.list >.item {
  border-bottom: 1px solid #42adff;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.list >.item .text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #fff;
}
.list >.item .icon {
  padding: 10px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.appheader {
  background-color: #0991f9;
  padding: 10px;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: #0991f9;
}
.appheader .title {
  font-weight: bold;
  color: #fff;
}
.appcontent {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
     -moz-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.appcontent >.page {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.appcontent >.page >.header {
  background-color: #0991f9;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.appcontent >.page >.header >.icon {
  padding: 0 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
.appcontent >.page >.header >.left.icon {
  border-right: 1px solid #023e70;
}
.appcontent >.page >.header >.right.icon {
  border-left: 1px solid #023e70;
}
.appcontent >.page >.header >.title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px 20px;
}
.appcontent >.page >.header2 {
  min-height: 40px;
  border-top: 1px solid #023e70;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-transform: none;
}
.appcontent >.page >.header2 >.icon {
  padding: 0 15px;
}
.appcontent >.page >.body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.appcontent >.page >.footer {
  padding: 10px;
  border-top: 1px solid #0991f9;
}
.button {
  background-color: #0991f9;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 20px;
  text-align: center;
  color: #fff;
}
.form.center {
  margin: auto;
  width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ddd;
}
.row,
.list .item,
.bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fill,
.list,
.list .item .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.center,
i.fa,
.icon,
.float i.fa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vcenter,
.list .item .title,
.bar >.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hcenter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pad {
  padding: 10px;
}
.auto-scroll {
  overflow-y: auto;
}
.scroll,
.list {
  overflow-y: scroll;
}
.list .item {
  min-height: 60px;
  border-bottom: 1px solid #80c6fc;
}
.list .item .title {
  padding: 15px;
}
.list .item i.fa {
  width: 60px;
  border-left: 1px solid #80c6fc;
}
.bar {
  background-color: #0991f9;
  border-bottom: 1px solid #80c6fc;
  color: #fff;
  font-weight: bold;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 40px;
}
.bar i.fa,
.bar .icon {
  width: 40px;
  color: #fff;
}
.bar i.fa.left,
.bar .icon.left {
  border-right: 1px solid #023e70;
}
.bar i.fa.right,
.bar .icon.right {
  border-left: 1px solid #023e70;
}
.bar i.fa.tapped,
.bar .icon.tapped {
  background-color: #80c6fc;
}
.bar i.fa.active,
.bar .icon.active {
  background-color: #80c6fc;
}
.bar >.title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
}
.edit.page .hide {
  display: none;
}
.edit.page .story {
  margin-bottom: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.edit.page .button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.edit.page .button.delete {
  border-right: 1px solid #023e70;
  background-color: #f00;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.fa-stack .fa-play.fa-stack-1x {
  position: relative;
  left: 3px;
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}
.fa-stack .fa-stop.fa-stack-1x {
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}
.home.page {
  position: relative;
}
.home.page .story-title {
  padding: 10px;
  border-bottom: 1px solid #999;
}
.home.page .new-story {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #80c6fc;
}
.home.page .new-story.touched {
  background-color: #42adff;
}
.home.page .thumb {
  max-width: 100px;
  max-height: 100px;
}
.home.page .cap-toggle {
  width: 100px;
}
.home.page .note {
  margin-top: 50px;
}
.recording.page {
  color: #fff;
}
.image-query {
  padding: 10px;
  font-size: 20px;
  font-family: Arial;
  margin: 5px;
}
i.refresh-search {
  width: 50px;
}
.search-results .item {
  width: 100%;
}
.page-text-area {
  font-size: 30px;
  padding: 10px;
  padding-top: 30px;
  position: relative;
  min-height: 150px;
}
.page-text-area .text {
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
}
.page-text-area .word-outer {
  position: relative;
  left: 4px;
  display: inline-block;
}
.page-text-area textarea {
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 2px;
}
.image-area {
  position: relative;
  border-top: 1px solid #808080;
}
.image-area .image-placeholder {
  border: 1px solid #808080;
  margin: 20%;
  width: 60%;
}
.image-area .page-image {
  width: 95%;
  margin: 2.5%;
  max-height: 100%;
}
.float {
  position: absolute;
}
.float.top {
  top: 10px;
}
.float.right {
  right: 10px;
}
.float.row.right {
  right: 25px;
}
.float i.fa {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin: 2px;
}
.float i.fa.active {
  background-color: #42adff;
}

/*# sourceMappingURL=bundle.css.map */