.record.page

	.note
		visibility: hidden

	.recarea
		display flex
		flex-direction row
		flex 1

	

	.record, .stop
		color: $medium
		margin auto
		transform scale(4)

	.save, .play
		color: green
		margin auto
		transform scale(2)
		visibility: hidden
		z-index 1000
		// position: relative
		// top: -10px

	.input-error
		padding 10px
		height 50px
		margin 10px
		margin-top 0
		margin-bottom 40px
		color red
		border 1px solid red
		text-align center
		visibility hidden

	.visible
		visibility visible
