.row
	display flex
	flex-direction row

.column
	display flex
	flex-direction column

.fill
	flex 1

.center
	display flex
	justify-content center
	align-items center

.vcenter
	display flex
	align-items center

.hcenter
	display flex
	justify-content center

i.fa, .icon
	@extends .center

.pad
	padding 10px



.auto-scroll
	overflow-y auto

.scroll
	overflow-y scroll
