.list
	@extends .scroll, .fill
	.item
		@extends .row
		min-height 60px

		border-bottom: 1px solid $light
		.title
			@extends .fill
			@extends .vcenter
			padding 15px
		i.fa
			width 60px
			border-left 1px solid $light

.bar
	@extends .row
	background-color $dark
	border-bottom 1px solid $light
	color white
	font-weight bold
	align-items stretch
	min-height 40px
	// border-top 1px solid $verydark
	// border-bottom 1px solid $verydark
	i.fa, .icon
		width 40px
		color white
		&.left
			border-right 1px solid $verydark
		&.right
			border-left 1px solid $verydark
		&.tapped
			background-color $light
		&.active
			background-color $light
		// &[tap]:hover
		// 	background-color $medium
	>.title
		flex 1
		padding-left 10px
		@extends .vcenter
