.row
	display flex
	flex-direction row

.column
	display flex
	flex-direction column

.fill
	flex 1

i.fa
	display flex
	justify-content center
	align-items center

.center
	display flex
	justify-content center
	align-items center
