
<div ng-show="imageSearch" class="image-search column fill">
  <div class="row">
    <input ng-model="imageQuery" class="image-query fill"/><i ng-click="refreshImageSearch()" class="fa fa-refresh refresh-search"></i>
  </div>
  <div class="list search-results"><img ng-repeat="image in searchResults track by $index" ng-click="selectImage(image)" ng-src="{{image.link}}" class="item"/></div>
</div>
<div ng-hide="imageSearch" class="story page">
  <div class="bar"><i tap="home()" class="fa fa-home"></i>
    <div tap="toggleOptions()" class="title">{{appTitle}}</div><i tap="toggleOptions()" class="fa fa-chevron-down"></i>
  </div>
  <div ng-swipe-left="nextPage()" ng-swipe-right="prevPage()" class="fill column">
    <div class="page-text-area column">
      <div ng-show="options" class="float top right"><i tap="toggleEditPageText()" ng-hide="textEdit" class="fa fa-pencil"></i></div>
      <div ng-show="!textEdit" class="text"><span ng-repeat="word in page.words track by $index" tap="select(word)" class="word-outer"><span ng-class="{'all-caps':allCaps, playing: isWordPlaying(word)}" style="color: {{getWordColor(word)}}" class="word">{{word}}</span><span>&nbsp;</span></span></div>
      <textarea id="pagetext" ng-show="textEdit" ng-model="page.text" placeholder="Page {{pageIndex+1}}" msd-elastic=""></textarea>
      <div ng-show="textEdit" tap="savePage()" class="button center">SAVE</div>
    </div>
    <div ng-show="!textEdit" class="fill column">
      <div ng-show="page.imageURL || wordImageURL || options" class="image-area fill"><img ng-show="!editWord &amp;&amp; !reading &amp;&amp; page.localImageURL" ng-src="{{page.localImageURL}}" class="page-image"/><img ng-show="editWord || (reading &amp;&amp; reading.localImageURL)" ng-src="{{reading ? reading.localImageURL : editWord.localImageURL}}" class="word-image"/><img ng-show="!page.localImageURL &amp;&amp; !editWord &amp;&amp; !editWord.localImageURL" src="img/placeholder.png" class="image-placeholder"/>
        <div ng-show="options" class="float top right"><i ng-click="googleImage()" class="fa fa-search"></i><i ng-click="captureImage()" class="fa fa-camera"></i><i ng-click="deletePageImage()" class="fa fa-trash-o"></i>
        </div>
      </div>
      <div ng-show="confirmDeletePage" class="bar">
        <div tap="deletePage()" class="center fill">DELETE</div>
        <div tap="confirmDeletePage = false" class="center fill">CANCEL</div>
      </div>
      <div ng-show="options" class="bar">
        <div tap="confirmDeletePage = true" class="center fill"><i class="fa fa-trash-o"></i>
          <div>DELETE PAGE</div>
        </div>
        <div tap="addPage()" class="center fill"><i class="fa fa-plus"></i>
          <div>ADD PAGE</div>
        </div>
      </div>
    </div>
  </div>
</div>